@model IEnumerable<InmobiliariaUlP_2025.Models.Pago>

@{
    var desdeInmueble = ViewBag.DesdeInmueble as bool? ?? false;
    var inmuebleId = ViewBag.InmuebleId as int?;
}

<h1>Pagos</h1>

<a class="btn btn-secondary mb-3"
   asp-controller="Contrato"
   asp-action="@(desdeInmueble ? "PorInmueble" : "Index")"
   asp-route-id="@(desdeInmueble ? inmuebleId : null)">
    Volver
</a>

<div class="mb-3">
    <a asp-action="Crear"
       asp-route-contratoId="@ViewBag.Contrato.Id"
       asp-route-inmuebleId="@ViewBag.InmuebleId"
       asp-route-desdeInmueble="@ViewBag.DesdeInmueble"
       class="btn btn-primary">
        Nuevo Pago
    </a>
</div>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>N° Pago</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.NoPago</td>
                <td>@p.FechaPago</td>
                <td>$ @p.Importe</td>
                <td>
                    <a asp-action="Eliminar"
                       asp-route-id="@p.Id"
                       class="btn btn-danger btn-sm">
                        Eliminar
                    </a>

                    <a asp-action="Editar"
                    asp-route-id="@p.Id"
                    class="btn btn-secondary btn-sm">
                        Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>