@model IEnumerable<InmobiliariaUlP_2025.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<a asp-action="Crear" class="btn btn-primary mb-3">
    Nuevo Usuario
</a>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Rol</th>
            <th>Foto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Email</td>
                <td>@u.Rol</td>
                <td>
                    @if (!string.IsNullOrEmpty(u.Foto))
                    {
                        <img src="@u.Foto" width="50" height="50" style="object-fit:cover;" />
                    }
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@u.Id" class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a asp-action="Eliminar" asp-route-id="@u.Id" class="btn btn-danger btn-sm">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>